.bannerItem {
  display: flex;
  flex-direction: column;
  scroll-margin-block-start: 16px;
  padding: 14px;
  border: 1px solid var(--border);
  border-radius: 12px;
  gap: 10px;
}

.bannerItemNew {
  border-color: var(--header-brand);
}

.listTitle {
  margin: 0;
  font-size: 16px;
}
