# Тег образов, который публикует .github/workflows/build.yml (совпадает с git tag, например v0.1.0)
IMAGE_TAG=v0.1.0

PG_DB=amc
PG_USER=amc
PG_PASSWORD=change-me

DOMAIN=wk.amctechgroup.ru
LETSENCRYPT_EMAIL=you@example.com
